# NFL Data Scraper 2

In [1]:
teams = {'Atlanta Falcons':'atl','Buffalo Bills':'buf','Carolina Panthers':'car','Chicago Bears':'chi',
         'Cincinnati Bengals':'cin','Cleveland Browns':'cle','Indianapolis Colts':'clt',
         'Arizona Cardinals':'crd','Dallas Cowboys':'dal','Denver Broncos':'den','Detroit Lions':'det',
         'Green Bay Packers':'gnb','Houston Texans':'htx','Jacksonville Jaguars':'jax',
         'Kansas City Chiefs':'kan','Miami Dolphins':'mia','Minnesota Vikings':'min','New Orleans Saints':'nor',
         'New England Patriots':'nwe','New York Giants':'nyg','New York Jets':'nyj','Tennessee Titans':'oti',
         'Philadelphia Eagles':'phi','Pittsburgh Steelers':'pit','Oakland Raiders':'rai',
         'Las Vegas Raiders':'rai','St. Louis Rams':'ram','Los Angeles Rams':'ram','Baltimore Ravens':'rav',
         'San Diego Chargers':'sdg','Los Angeles Chargers':'sdg','Seattle Seahawks':'sea',
         'San Francisco 49ers':'sfo','Tampa Bay Buccaneers':'tam','Washington Redskins':'was'}
org = set(teams.values())

**<font color='teal'>Load in gamecodes and preliminary dataframe.</font>**

In [307]:
import requests
import re
import pandas as pd
import pickle
from datetime import time, timedelta

year = '2005'
path = 'data/gamecodes0.data'
with open(path, 'rb') as f:
    gcodes = pickle.load(f)
    
path = 'data/df_step1_'+year+'.data'
with open(path, 'rb') as f:
    dfyear = pickle.load(f)

In [186]:
def pbp_to_tdelt(time):
    if ':' in time:
        elem = pd.to_numeric(time.split(':'))
        time = pd.to_timedelta(elem[0],unit='m') + pd.to_timedelta(elem[1],unit='s')
        return time
    else:
        return time

**<font color='teal'>Set up gameinfo dataframe.</font>**

In [4]:
ginfo = pd.DataFrame(columns=['Code','Surface','Temperature','Over/Under'])
ginfo['Code'] = gcodes
ginfo = ginfo.set_index(['Code'])

**<font color='teal'>Much of the data from Pro Football Reference is contained within comments. Thus, the spider is set up to crawl through commented code as well.</font>**

In [5]:
comm = re.compile('<!--|-->')

**<font color='teal'>Extract gamecodes for the given year.</font>**

In [304]:
gc = [gcodes[i] for i in range(len(gcodes)) 
      if (((gcodes[i][0:4] == year) & (gcodes[i][4:6] != '01')) | (gcodes[i][0:6] == (str(int(year)+1)+'01')))]

In [308]:
len(gc)

256

In [309]:
for gamecode in gc:
    url = 'https://www.pro-football-reference.com/boxscores/'+gamecode+'.htm'
    res = requests.get(url)

    table = pd.read_html(res.text,attrs={'class':'linescore nohover stats_table no_freeze'},flavor='bs4')
    table = table[0]
## Team Designation
    awayteam = table.iloc[0,1]
    away = teams[awayteam]
    hometeam = table.iloc[1,1]
    home = teams[hometeam]
# Points
    dfyear.loc[(away,gamecode),'Points'] = int(table.loc[0,'Final'])
    dfyear.loc[(home,gamecode),'Points'] = int(table.loc[1,'Final'])
    dfyear.loc[(away,gamecode),'Points_Opp'] = int(table.loc[1,'Final'])
    dfyear.loc[(home,gamecode),'Points_Opp'] = int(table.loc[0,'Final'])

# Game Info
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'game_info'},flavor='bs4')
    table = table[0]
    table = table.set_index(table.columns[0])
    ginfo.loc[gamecode,'Surface'] = table.loc['Surface',1]
    ginfo.loc[gamecode,'Over/Under'] = float(table.loc['Over/Under',1].split(' ')[0])
    if 'Weather' in table.index: ginfo.loc[gamecode,'Temperature'] = int(table.loc['Weather',1].split(' ')[0])
    
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'team_stats'},flavor='bs4')
    table = table[0]
# Offensive & Defensive Rushing & Passing Yards    
    dfyear.loc[(away,gamecode),'Yds_Off_Rush'] = int(table.iloc[1,1].split('-')[1])
    dfyear.loc[(home,gamecode),'Yds_Off_Rush'] = int(table.iloc[1,2].split('-')[1])
    dfyear.loc[(away,gamecode),'Yds_Off_Pass'] = int(table.iloc[2,1].split('-')[2])
    dfyear.loc[(home,gamecode),'Yds_Off_Pass'] = int(table.iloc[2,2].split('-')[2])
    dfyear.loc[(away,gamecode),'Yds_Def_Rush'] = int(table.iloc[1,2].split('-')[1])
    dfyear.loc[(home,gamecode),'Yds_Def_Rush'] = int(table.iloc[1,1].split('-')[1])
    dfyear.loc[(away,gamecode),'Yds_Def_Pass'] = int(table.iloc[2,2].split('-')[2])
    dfyear.loc[(home,gamecode),'Yds_Def_Pass'] = int(table.iloc[2,1].split('-')[2])
# Time of Possession    
    dfyear.loc[(away,gamecode),'Possession'] = \
        float(table.iloc[11,1].split(':')[0])+float(table.iloc[11,1].split(':')[1])/60.0
    dfyear.loc[(home,gamecode),'Possession'] = \
        float(table.iloc[11,2].split(':')[0])+float(table.iloc[11,2].split(':')[1])/60.0
# Penalties
    dfyear.loc[(away,gamecode),'Yds_Pen'] = int(table.iloc[8,1].split('-')[1])
    dfyear.loc[(home,gamecode),'Yds_Pen'] = int(table.iloc[8,2].split('-')[1])
# Defensive Sacks
    dfyear.loc[(away,gamecode),'Sacks_Def'] = int(table.iloc[3,2].split('-')[0])
    dfyear.loc[(home,gamecode),'Sacks_Def'] = int(table.iloc[3,1].split('-')[0])
# Turnovers
    dfyear.loc[(away,gamecode),'TO_Gained'] = int(table.iloc[7,2])
    dfyear.loc[(home,gamecode),'TO_Gained'] = int(table.iloc[7,1])
    dfyear.loc[(away,gamecode),'TO_Lost'] = int(table.iloc[7,1])
    dfyear.loc[(home,gamecode),'TO_Lost'] = int(table.iloc[7,2])
# Touchdowns (Defensive & Special Teams to be added later)
    dfyear.loc[(away,gamecode),'TD'] = int(table.iloc[1,1].split('-')[2])+int(table.iloc[2,1].split('-')[3])
    dfyear.loc[(home,gamecode),'TD'] = int(table.iloc[1,2].split('-')[2])+int(table.iloc[2,2].split('-')[3])
    
# Defense
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'player_defense'},flavor='bs4')
    table = table[0]
# Remove multilevel, NANs, separator row
    table = table.droplevel(level=0,axis=1)
    table = table.dropna(subset=['Tm']).iloc[:,1:]
    table = table[table.iloc[:,0]!='Tm']

# Rename columns to remove column name duplication
    cols = list(table.columns)
    cols[3] = 'TD_Int'
    cols[2] = 'Yds_Int'
    cols[13] = 'Yds_Fum'
    cols[14] = 'TD_Fum'
    table.columns = cols

# Change value types to numeric types
    cols = [list(table.columns[1:6]),table.columns[6],list(table.columns[7:])]
    for grp in cols:
        table[grp]=table[grp].apply(pd.to_numeric)
        
# Group by team to calculate team values        
    grouped = table.groupby(table['Tm'])
    
# Add Defensive Touchdowns
    dftd=grouped['TD_Int'].sum()+grouped['TD_Fum'].sum()
    dfyear.loc[(away,gamecode),'TD'] += dftd[0]
    dfyear.loc[(home,gamecode),'TD'] += dftd[1]
    dfyear.loc[(away,gamecode),'TD_on_Def'] = dftd[0]
    dfyear.loc[(home,gamecode),'TD_on_Def'] = dftd[1]
    
# Tackles for Loss
    tfl=grouped['TFL'].sum()
    dfyear.loc[(away,gamecode),'Tackles_Loss'] = tfl[0]
    dfyear.loc[(home,gamecode),'Tackles_Loss'] = tfl[1]

# Kick/Punt Returns
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'returns'},flavor='bs4')
    table = table[0]
    table = table.droplevel(level=0,axis=1)
    table = table.dropna(subset=['Tm']).iloc[:,1:]
    table = table[table.iloc[:,0]!='Tm']
    cols = list(table.columns)
    cols[2] = 'Yds_KR'
    cols[7] = 'Yds_PR'
    cols[5] = 'Lng_KR'
    cols[10] = 'Lng_PR'
    cols[4] = 'TD_KR'
    cols[9] = 'TD_PR'
    table.columns = cols
    cols = [list(table.columns[1:3]),table.columns[3],list(table.columns[4:8]),table.columns[8],
            list(table.columns[9:])]
    for grp in cols:
        table[grp]=table[grp].apply(pd.to_numeric)

    grouped = table.groupby(table['Tm'])
    kptd=grouped['TD_KR'].sum()+grouped['TD_PR'].sum()
    kyds=grouped['Yds_KR'].sum()
    knum=grouped['Rt'].sum()
    pyds=grouped['Yds_PR'].sum()
    pnum=grouped['Ret'].sum()
    if (kptd.shape[0] == 0):
        a_kptd = h_kptd = a_knum = h_knum = a_kyds = h_kyds = a_pyds = h_pyds = a_pnum = h_pnum = 0
    elif (kptd.shape[0] == 1):
        if (away.upper() == table.loc[0,'Tm']):
            a_kptd = kptd[0]
            a_knum = knum[0]
            a_kyds = kyds[0]
            a_pyds = pyds[0]
            a_pnum = pnum[0]
            h_kptd = h_knum = h_kyds = h_pyds = h_pnum = 0
        elif (home.upper() == table.loc[0,'Tm']):
            h_kptd = kptd[0]
            h_knum = knum[0]
            h_kyds = kyds[0]
            h_pyds = pyds[0]
            h_pnum = pnum[0]
            a_kptd = a_knum = a_kyds = a_pyds = a_pnum = 0
    else:
            a_kptd = kptd[0]
            a_knum = knum[0]
            a_kyds = kyds[0]
            a_pyds = pyds[0]
            a_pnum = pnum[0]
            h_kptd = kptd[1]
            h_knum = knum[1]
            h_kyds = kyds[1]
            h_pyds = pyds[1]
            h_pnum = pnum[1]
    dfyear.loc[(away,gamecode),'TD'] += a_kptd
    dfyear.loc[(home,gamecode),'TD'] += h_kptd
    if (a_knum > 0):
        dfyear.loc[(away,gamecode),'Yds_per_Kickret'] = float(a_kyds)/float(a_knum)
    else:
        dfyear.loc[(away,gamecode),'Yds_per_Kickret'] = 0.0
    if (h_knum > 0):
        dfyear.loc[(home,gamecode),'Yds_per_Kickret'] = float(h_kyds)/float(h_knum)
    else:
        dfyear.loc[(home,gamecode),'Yds_per_Kickret'] = 0.0
    if (a_pnum > 0):
        dfyear.loc[(away,gamecode),'Yds_per_Puntret'] = float(a_pyds)/float(a_pnum)
    else:
        dfyear.loc[(away,gamecode),'Yds_per_Puntret'] = 0.0
    if (h_pnum > 0):
        dfyear.loc[(home,gamecode),'Yds_per_Puntret'] = float(h_pyds)/float(h_pnum)
    else:
        dfyear.loc[(home,gamecode),'Yds_per_Puntret'] = 0.0

# Field Goals
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'kicking'},flavor='bs4')
    table = table[0]
    table = table.droplevel(level=0,axis=1)
    table = table.dropna(subset=['Tm']).iloc[:,1:]
    table = table[table.iloc[:,0]!='Tm']
    cols = [list(table.columns[1:7]),table.columns[7],table.columns[8]]
    for grp in cols:
        table[grp]=table[grp].apply(pd.to_numeric)
    grouped = table.groupby(table['Tm'])
    fgm=grouped['FGM'].sum()
    fga=grouped['FGA'].sum()
    dfyear.loc[(away,gamecode),'FG_Made'] = fgm[0]
    dfyear.loc[(home,gamecode),'FG_Made'] = fgm[1]
    dfyear.loc[(away,gamecode),'FG_Att'] = fga[0]
    dfyear.loc[(home,gamecode),'FG_Att'] = fga[1]
# Total Plays & Set up Drive and Play-by-Play tables for Red Zone calculation
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'home_drives'},flavor='bs4')
    hdrive = table[0].iloc[:,1:]
    hdrive.index = range(1,len(hdrive)+1)
    hdrive.index.set_names('Drive',inplace=True)
    hdrive.rename({'Net_yds':'Yds'},axis=1,inplace=True)
    dfyear.loc[(home,gamecode),'Plays'] = hdrive['Plays'].sum()
    table=pd.read_html(comm.sub("",res.text),attrs={'id':'vis_drives'},flavor='bs4')
    adrive = table[0].iloc[:,1:]
    adrive.index = range(1,len(adrive)+1)
    adrive.index.set_names('Drive',inplace=True)
    adrive.rename({'Net_yds':'Yds'},axis=1,inplace=True)
    dfyear.loc[(away,gamecode),'Plays'] = adrive['Plays'].sum()

    hdrive['Quarter']=hdrive['Quarter'].fillna(method='ffill')
    adrive['Quarter']=adrive['Quarter'].fillna(method='ffill')
    hdrive['LOS']=hdrive['LOS'].fillna(home.upper()+' 25')
    position=hdrive['LOS'].str.split(expand=True)
    hdrive.drop('LOS',axis=1,inplace=True)
    hdrive[['Side','Marker']] = position
    adrive['LOS']=adrive['LOS'].fillna(away.upper()+' 25')
    position=adrive['LOS'].str.split(expand=True)
    adrive.drop('LOS',axis=1,inplace=True)
    adrive[['Side','Marker']] = position
    cols=['Quarter','Time','Side','Marker','Plays','Length','Yds','Result']
    hdrive[hdrive['Side']=='50']=hdrive[hdrive['Side']=='50'].assign(Marker = '50') # Case where ball is on 50 yard line
    hdrive[hdrive['Side']=='50']=hdrive[hdrive['Side']=='50'].assign(Side = home.upper())
    hdrive=hdrive.reindex(columns=cols,copy=False)
    adrive[adrive['Side']=='50']=adrive[adrive['Side']=='50'].assign(Marker = '50') # Case where ball is on 50 yard line
    adrive[adrive['Side']=='50']=adrive[adrive['Side']=='50'].assign(Side = home.upper())
    adrive=adrive.reindex(columns=cols,copy=False)

    intcols=['Plays','Yds','Quarter','Marker']
    timecols=['Time','Length']
    strcols=['Result','Side']
    for colu in intcols:
        hdrive[colu] = hdrive[colu].astype('int')
        adrive[colu] = adrive[colu].astype('int')
    for colu in strcols:
        hdrive[colu] = hdrive[colu].astype('str')
        adrive[colu] = adrive[colu].astype('str')
    for colu in timecols:
        for drive in range(1,hdrive.shape[0]+1):
            entry = hdrive.loc[drive,colu].split(':')
            hdrive.loc[drive,colu] = timedelta(hours=0,minutes=int(entry[0]),seconds=int(entry[1]))
        for drive in range(1,adrive.shape[0]+1):
            entry = adrive.loc[drive,colu].split(':')
            adrive.loc[drive,colu] = timedelta(hours=0,minutes=int(entry[0]),seconds=int(entry[1]))

    table=pd.read_html(comm.sub("",res.text),attrs={'id':'pbp'},flavor='bs4')
    pbp=table[0].iloc[:,0:6]
    if (pbp.columns.nlevels > 1):                 # Sometimes multilevel object is retrieved. Ensure that
        pbp.columns = pbp.columns.droplevel()     # columns are single level
    pbp=pbp.dropna()
    pbp=pbp[pbp['Time'].str.contains(pat=':',regex=False)]
    pbp['Time'] = pbp['Time'].apply(pbp_to_tdelt)
    position=pbp['Location'].str.split(expand=True)
    position=position.iloc[:,0:2]
    pbp=pbp.drop('Location',axis=1)
    pbp[['Team','Location']] = position
    cols=['Quarter','Time','Down','ToGo','Team','Location','Detail']
    pbp=pbp.reindex(columns=cols,copy=False)
    pbp=pbp.reset_index(drop=True)
    pbp[pbp['Team']=='50']=pbp[pbp['Team']=='50'].assign(Location = '50') # Case where ball is on 50 yard line
    pbp[pbp['Team']=='50']=pbp[pbp['Team']=='50'].assign(Team = home.upper())
    pbp['Location']=pbp['Location'].astype('int')    
    pbp[pbp['Quarter']=='OT']=pbp[pbp['Quarter']=='OT'].assign(Quarter = '5') # Case of Overtime
    pbp['Quarter']=pbp['Quarter'].astype('int')

# Red Zone Routine

    team = {'H':home, 'A':away}
    drive = {home:1, away:1}
    df = {home:hdrive, away:adrive}
    rz_conv = {home:0, away:0}
    rz_att = {home:0, away:0}
    row = 0

#            Red Zone starts at 20 yard line
    while ((drive[home] <= hdrive.shape[0]) | (drive[away] <= adrive.shape[0])):
        stop = False
        if ((drive[home] <= hdrive.shape[0]) & (drive[away] <= adrive.shape[0])):
            if (hdrive.loc[drive[home],'Quarter'] < adrive.loc[drive[away],'Quarter']):
                poss = 'H'
                starttime = hdrive.loc[drive[home],'Time']
            elif (adrive.loc[drive[away],'Quarter'] < hdrive.loc[drive[home],'Quarter']):
                poss = 'A'
                starttime = adrive.loc[drive[away],'Time']
            else:
                if (hdrive.loc[drive[home],'Time'] > adrive.loc[drive[away],'Time']):
                    poss = 'H'
                    starttime = hdrive.loc[drive[home],'Time']
                else:
                    poss = 'A'
                    starttime = adrive.loc[drive[away],'Time']
        else:
            if (drive[home] <= hdrive.shape[0]):
                poss = 'H'
                starttime = hdrive.loc[drive[home],'Time']
            else:
                poss = 'A'
                starttime = adrive.loc[drive[away],'Time']
        rz = False   # Not in Red Zone
        bquar = df[team[poss]].loc[drive[team[poss]],'Quarter'] # Beginning quarter of drive
        if (df[team[poss]].loc[drive[team[poss]],'Length'] <= starttime): # Set time for next drive
            endtime = starttime - df[team[poss]].loc[drive[team[poss]],'Length']
            equar = bquar                                            # Ending quarter of drive
        else:    
            endtime = (timedelta(hours=0,minutes=15,seconds=0) -  # Assuming 15 minute quarters
                (df[team[poss]].loc[drive[team[poss]],'Length'] - starttime))
            equar = bquar+1                                            # Ending quarter of drive

        if (df[team[poss]].loc[drive[team[poss]],'Side'] != team[poss].upper()):
            if (df[team[poss]].loc[drive[team[poss]],'Marker'] <= 20):
                rz = True
            else:
                start = df[team[poss]].loc[drive[team[poss]],'Marker'] - 20
        else:
            start = 100 - df[team[poss]].loc[drive[team[poss]],'Marker'] - 20 # Other side of the field
        if not (rz):    # If starting outside Red Zone
            end = start - df[team[poss]].loc[drive[team[poss]],'Yds']   # Calculate end of drive
            if end <= 20: # If drive ends within 20 yards of red zone to the goal line check if goes in RZ
                found = False     # Look for beginning of drive
                while (((row+1) < pbp.shape[0]) & (not (found))):
                    if (pbp.loc[row,'Quarter'] < bquar):
                        row += 1
                    elif (pbp.loc[row,'Time'] <= starttime):
                        found = True
                    else:
                        row += 1
                while (not(stop)):
                    if ((pbp.loc[row,'Team'] != team[poss].upper()) & (pbp.loc[row,'Location'] <= 20)):
                        rz = True
                        stop = True
                    elif (pbp.loc[row,'Quarter'] > equar):
                        stop = True
                    elif (row+1) == pbp.shape[0]:                         # Failsafe in case of bad data
                        stop = True
                    elif ((pbp.loc[row,'Quarter'] == equar) & (pbp.loc[row,'Time'] <= endtime)):
                        stop = True
                    else:
                        row += 1
        if (rz):
            rz_att[team[poss]] += 1 # Increment Red Zone Attempts
            if df[team[poss]].loc[drive[team[poss]],'Result'] in ['Touchdown']:
                rz_conv[team[poss]] += 1  # If score, increment Red Zone successes 
        drive[team[poss]] += 1  # Increment drive number for team in question

    dfyear.loc[(away,gamecode),'RZ_Att'] = rz_att[away]
    dfyear.loc[(home,gamecode),'RZ_Att'] = rz_att[home]
    dfyear.loc[(away,gamecode),'RZ_Conv'] = rz_conv[away]
    dfyear.loc[(home,gamecode),'RZ_Conv'] = rz_conv[home]
    dfyear.loc[(away,gamecode),'RZ_Def_Att'] = rz_att[home]
    dfyear.loc[(home,gamecode),'RZ_Def_Att'] = rz_att[away]
    dfyear.loc[(away,gamecode),'RZ_Def_Conv'] = rz_conv[home]
    dfyear.loc[(home,gamecode),'RZ_Def_Conv'] = rz_conv[away]

intcols=['Points','Points_Opp','Yds_Off_Pass','Yds_Off_Rush','Yds_Def_Pass','Yds_Def_Rush','TD','TD_on_Def',
         'FG_Made','FG_Att','RZ_Conv','RZ_Att','RZ_Def_Conv','RZ_Def_Att','Plays','TO_Gained','TO_Lost',
         'Yds_Pen','Tackles_Loss']
fltcols=['Possession','Sacks_Def','Yds_per_Kickret','Yds_per_Puntret']
strcols=['Home/Away', 'Opponent']
for colu in intcols: dfyear[colu] = dfyear[colu].astype('int64')
for colu in fltcols: dfyear[colu] = dfyear[colu].astype('float64')
for colu in strcols: dfyear[colu] = dfyear[colu].astype('str')
print('End')

ValueError: cannot convert float NaN to integer

In [298]:
dfyear.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 512 entries, ('sdg', '200309070kan') to ('crd', '200312280crd')
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Home/Away        512 non-null    object
 1   Opponent         512 non-null    object
 2   Points           512 non-null    int64
 3   Points_Opp       512 non-null    int64
 4   Yds_Off_Pass     512 non-null    int64
 5   Yds_Off_Rush     512 non-null    int64
 6   Yds_Def_Pass     512 non-null    int64
 7   Yds_Def_Rush     512 non-null    int64
 8   TD               512 non-null    int64
 9   TD_on_Def        512 non-null    int64
 10  FG_Made          512 non-null    int64
 11  FG_Att           512 non-null    int64
 12  RZ_Conv          512 non-null    int64
 13  RZ_Att           512 non-null    int64
 14  RZ_Def_Conv      512 non-null    int64
 15  RZ_Def_Att       512 non-null    int64
 16  Possession       512 non-null    float64
 17  Plays            512 non-null    int64
 18  TO_Gained        512 non-null    int64
 19  TO_Lost          512 non-null    int64
 20  Yds_Pen          512 non-null    int64
 21  Sacks_Def        512 non-null    float64
 22  Tackles_Loss     512 non-null    int64
 23  Yds_per_Kickret  512 non-null    float64
 24  Yds_per_Puntret  512 non-null    float64
dtypes: float64(4), int64(19), object(2)
memory usage: 135.1+ KB

In [302]:
    path = 'data/df_step2_'+year+'.data'
    with open(path, 'wb') as f:
        pickle.dump(dfyear,f)

In [299]:
dfyear.sample(10)

,,Home/Away,Opponent,Points,Points_Opp,Yds_Off_Pass,Yds_Off_Rush,Yds_Def_Pass,Yds_Def_Rush,TD,TD_on_Def,...,RZ_Def_Att,Possession,Plays,TO_Gained,TO_Lost,Yds_Pen,Sacks_Def,Tackles_Loss,Yds_per_Kickret,Yds_per_Puntret
Team,Code,,,,,,,,,,,,,,,,,,,,,
nyg,200310120nwe,A,New England Patriots,6,17,314,76,112,129,1,1,...,3,35.216667,89,0,5,50,2.0,3,18.333333,0.000000
sfo,200310190sfo,H,Tampa Bay Buccaneers,24,7,253,212,265,68,3,0,...,2,33.133333,75,4,2,35,2.0,0,23.000000,11.000000
car,200311020htx,A,Houston Texans,10,14,193,174,154,118,1,0,...,1,29.750000,59,0,1,40,2.0,8,19.500000,7.000000
cle,200312080cle,H,St. Louis Rams,20,26,178,162,223,118,4,1,...,6,24.950000,55,1,4,30,3.0,5,16.750000,11.500000
buf,200312210buf,H,Miami Dolphins,3,20,155,73,46,132,1,1,...,4,27.250000,63,2,4,59,2.0,8,19.500000,27.000000
cle,200311160cle,H,Arizona Cardinals,44,6,392,89,152,41,5,0,...,2,39.550000,71,4,0,64,1.0,2,31.333333,4.333333
atl,200311090nyg,A,New York Giants,27,7,65,216,211,124,4,0,...,4,30.150000,61,4,0,60,3.0,5,20.500000,3.000000
tam,200310260tam,H,Dallas Cowboys,16,0,151,128,140,60,1,0,...,0,34.733333,67,3,0,15,4.0,8,22.000000,8.000000
clt,200309280nor,A,New Orleans Saints,55,21,327,100,228,155,7,1,...,3,31.933333,58,4,0,20,2.0,1,23.000000,5.666667
rai,200311160rai,H,Minnesota Vikings,28,18,195,191,396,94,4,1,...,5,29.500000,61,6,2,85,3.0,5,15.500000,5.000000

In [301]:
dfyear.iloc[:,12:].describe()

,RZ_Conv,RZ_Att,RZ_Def_Conv,RZ_Def_Att,Possession,Plays,TO_Gained,TO_Lost,Yds_Pen,Sacks_Def,Tackles_Loss,Yds_per_Kickret,Yds_per_Puntret
count,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,1.701172,3.796875,1.701172,3.796875,30.297396,64.562500,1.779297,1.779297,54.738281,2.132812,4.537109,21.598043,8.573340
std,1.202801,1.650994,1.202801,1.650994,4.773262,8.951271,1.433497,1.433497,27.179800,1.679256,2.421889,6.460472,9.001683
min,0.000000,0.000000,0.000000,0.000000,15.033333,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-14.000000
25%,1.000000,3.000000,1.000000,3.000000,27.112500,59.000000,1.000000,1.000000,35.000000,1.000000,3.000000,18.191667,2.500000
50%,2.000000,4.000000,2.000000,4.000000,30.241667,64.000000,2.000000,2.000000,50.000000,2.000000,5.000000,20.690476,7.200000
75%,2.000000,5.000000,2.000000,5.000000,33.250000,70.000000,3.000000,3.000000,69.000000,3.000000,6.000000,24.000000,11.666667
max,6.000000,9.000000,6.000000,9.000000,44.966667,97.000000,7.000000,7.000000,173.000000,8.000000,12.000000,73.000000,89.000000

In [251]:
special = ['201812300nwe']

In [ ]:
special = ['200209220chi']