# NFL Data Scraper 1

**<font color='purple'>This scraper accesses the gamelogs of every NFL team to determine the urls from which the game data will be obtained. This scraper, to be used for years 2010-2019, works one year at a time. The gamelogs and dataframes to be used in Scraper 2 are stored in binary files.</font>**

**<font color='teal'> First, the necessary packages are loaded, and the structure of the dataframe that will be populated by the acquired data is set up.</font>**

In [2]:
import requests
import re
import pandas as pd
import datetime as dt
import pickle
from dateutil.parser import parse

teams = {'Atlanta Falcons':'atl','Buffalo Bills':'buf','Carolina Panthers':'car','Chicago Bears':'chi',
         'Cincinnati Bengals':'cin','Cleveland Browns':'cle','Indianapolis Colts':'clt',
         'Arizona Cardinals':'crd','Dallas Cowboys':'dal','Denver Broncos':'den','Detroit Lions':'det',
         'Green Bay Packers':'gnb','Houston Texans':'htx','Jacksonville Jaguars':'jax',
         'Kansas City Chiefs':'kan','Miami Dolphins':'mia','Minnesota Vikings':'min','New Orleans Saints':'nor',
         'New England Patriots':'nwe','New York Giants':'nyg','New York Jets':'nyj','Tennessee Titans':'oti',
         'Philadelphia Eagles':'phi','Pittsburgh Steelers':'pit','Oakland Raiders':'rai',
         'Las Vegas Raiders':'rai','St. Louis Rams':'ram','Los Angeles Rams':'ram','Baltimore Ravens':'rav',
         'San Diego Chargers':'sdg','Los Angeles Chargers':'sdg','Seattle Seahawks':'sea',
         'San Francisco 49ers':'sfo','Tampa Bay Buccaneers':'tam','Washington Redskins':'was'}

# "org" is the collection of team abbreviations in the form of a set as due to changes in team names, 
# multiples team names share common organization, abbreviation. A set gives the unique values.
org = set(teams.values())

# Index and columns to be used for "dfyear" multiindex dataframe with team abbreviations as the primary index 
# and row number as the temporary secondary index.
yearcols = ['Code','Home/Away','Opponent','Points','Points_Opp','Yds_Off_Pass','Yds_Off_Rush','Yds_Def_Pass',
            'Yds_Def_Rush','TD','TD_on_Def','FG_Made','FG_Att','RZ_Conv','RZ_Att','RZ_Def_Conv','RZ_Def_Att',
            'Possession','Plays','TO_Gained','TO_Lost','Yds_Pen','Sacks_Def','Tackles_Loss','Yds_per_Kickret',
            'Yds_per_Puntret']
ind = pd.MultiIndex.from_product([org,[i for i in range(16)]],names=['Team','row'])

**<font color='teal'>*table* is the raw dataframe obtained from the website. *dfteam* is a preliminary dataframe for a given team and given year used to populate the larger *dfyear* dataframe. It stores the parsed game dates as well as the home/away and opponent columns. These columns are used to formulate the gamecodes, stored in a list, which will be used to access the urls necessary to obtain the bulk of the data.</font>**

In [28]:
years = [str(i) for i in range(2010,2020)]
#years = [str(i) for i in range(2002,2010)]
gcodes = []
for year in years:
    dfyear=pd.DataFrame(index=ind,columns=yearcols)
    for team in org:
        url = 'https://www.pro-football-reference.com/teams/'+team+'/'+year+'/gamelog/'
        res = requests.get(url)        

        tableID = 'gamelog'+year
        table=pd.read_html(res.text,attrs={'id':tableID},flavor='bs4')
        table=table[0]

# Columns for "table" are renamed for ease in populating our dataframe     

        L0 = list(table.columns.get_level_values(0))
        L0_mod = ['Event' if 'Unnamed' in L0[i] else L0[i] for i in range(len(L0))]
        L0_renmd = dict(zip(L0,L0_mod))
        table.rename(columns=L0_renmd,level=0,inplace=True)

        dfteam = pd.DataFrame(columns=['Date','Home/Away','Opponent'])

# String dates from "table" are converted to numerical in proper format for use in url
# Special consideration for Janaury, as those dates correspond to following year
        dconv = lambda x: (parse(x + ' ' + str(int(year)+1)).strftime('%Y%m%d') 
                           if 'January' in x else parse(x + ' ' + year).strftime('%Y%m%d'))
        dfteam['Date'] = table['Event']['Date'].apply(dconv)

# Home and Away designation determines how gamecode is labeled    
        dfteam['Home/Away'][table.iloc[:,6] == '@'] = 'A'
        dfteam['Home/Away'][table.iloc[:,6] != '@'] = 'H'
        dfteam['Opponent'] = table['Event']['Opp']

# Because of "dfyear" multiindex, cannot simply copy "dfteam" dataframe to "dfyear". Must use .values        
        dfyear.loc[team,'Home/Away':'Opponent'] = dfteam[['Home/Away','Opponent']].values

# Gamecodes are calculated to put in list for later url access 
# and to put in dfyear dataframe for game identification
        for row in range(16):
            date = dfteam['Date'][row]
            if dfteam['Home/Away'][row] == 'H':
                hometeam = team
            elif dfteam['Home/Away'][row] == 'A':
                hometeam = teams[dfteam['Opponent'][row]]
            gamecode = date+'0'+hometeam
            dfyear.loc[(team,row),'Code'] = gamecode
            if gamecode not in gcodes: gcodes.append(gamecode)

# Replace row with gamecode in index
    dfyear=dfyear.reset_index(level=1,drop=True)
    dfyear=dfyear.set_index([dfyear.index,dfyear['Code']])
    dfyear.drop('Code',axis=1,inplace=True)

# Check for null values, number of gcodes matches with number of games in season (32*16/2=256).
#    print(dfyear.loc[:,'Home/Away':'Opponent'].isnull().sum())
#    print(len(gcodes))

# Store gamecodes and working dataframe in binary files
    path = 'data/df_step1_'+year+'.data'
    with open(path, 'wb') as f:
        pickle.dump(dfyear,f)

In [36]:
path = 'data/gamecodes0.data'
with open(path, 'wb') as f:
    pickle.dump(gcodes,f)

In [11]:
dfyear

                  Home/Away              Opponent  Points  Points_Opp  \
Team Code
oti  201809090mia         A        Miami Dolphins      20          27
     201809160oti         H        Houston Texans      20          17
     201809230jax         A  Jacksonville Jaguars       9           6
     201809300oti         H   Philadelphia Eagles      26          23
     201810070buf         A         Buffalo Bills      12          13
...                     ...                   ...     ...         ...
gnb  201812160chi         A         Chicago Bears      17          24
     201812230nyj         A         New York Jets      44          38
     201812300gnb         H         Detroit Lions       0          31
nyj  201812300nwe         A  New England Patriots       3          38
nwe  201812300nwe         H         New York Jets      38           3

                   Yds_Off_Pass  Yds_Off_Rush  Yds_Def_Pass  Yds_Def_Rush  TD  \
Team Code
oti  201809090mia           220           116           230           120   2
     201809160oti           191           100           310           148   2
     201809230jax           108           150           155            87   0
     201809300oti           344            70           348           117   3
     201810070buf           129           100            82           144   0
...                         ...           ...           ...           ...  ..
gnb  201812160chi           274            88           235           100   1
     201812230nyj           442           127           341            47   5
     201812300gnb           158            46           274           130   0
nyj  201812300nwe           167           104           250           131   0
nwe  201812300nwe           250           131           167           104   5

                   TD_on_Def  ...  RZ_Def_Att  Possession  Plays  TO_Gained  \
Team Code                     ...
oti  201809090mia          0  ...           5   29.583333     72          2
     201809160oti          0  ...           3   30.366667     59          1
     201809230jax          0  ...           1   32.783333     63          1
     201809300oti          0  ...           4   35.500000     70          1
     201810070buf          0  ...           3   26.183333     57          1
...                      ...  ...         ...         ...    ...        ...
gnb  201812160chi          0  ...           5   29.616667     70          1
     201812230nyj          0  ...           6   34.316667     85          0
     201812300gnb          0  ...           5   23.100000     56          0
nyj  201812300nwe          0  ...           5   27.783333     56          0
nwe  201812300nwe          1  ...           2   32.216667     65          3

                   TO_Lost  Yds_Pen  Sacks_Def  Tackles_Loss  Yds_per_Kickret  \
Team Code
oti  201809090mia        3       48        1.0             4        60.500000
     201809160oti        0       70        4.0             5         0.000000
     201809230jax        0       30        3.0             4         0.000000
     201809300oti        1       30        4.0             6         0.000000
     201810070buf        3       40        1.0             7        33.000000
...                    ...      ...        ...           ...              ...
gnb  201812160chi        1       48        1.0             4         0.000000
     201812230nyj        1       86        2.0             3        25.333333
     201812300gnb        1       38        1.0             4        22.200000
nyj  201812300nwe        3       30        1.0             4        17.500000
nwe  201812300nwe        0       30        4.0             4         0.000000

                   Yds_per_Puntret
Team Code
oti  201809090mia             22.0
     201809160oti              2.0
     201809230jax              6.5
     201809300oti              4.0
     201810070buf             19.5
...                            ...
gnb  201812160chi              0.0
     201812230nyj              0.0
     201812300gnb              0.0
nyj  201812300nwe              0.0
nwe  201812300nwe              7.0

[512 rows x 25 columns]